.lf-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  display: none;
  z-index: 1000;
}


.lf-modal-container.show {
  display: flex;
}
.lf-modal-container .modal-center{
  margin: auto;
}


/* // 往上划的动效 */
.slide-top-leave-active, .slide-top-enter-active {
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.43, 1.27);
}

.slide-top-enter, .slide-top-leave-to {
  transform: translateY(70%);
  opacity: 0;
}

/* // scale-in */
.scale-in-leave-active, .scale-in-enter-active {
  transition: all .8s cubic-bezier(0.25, 0.1, 0.13, 1.43);
  transform-origin: top center;
}

.scale-in-enter, .scale-in-leave-to {
  transform: scale(.6);
  opacity: 0;
}

/* // scale-in-center */
.scale-in-center-leave-active, .scale-in-center-enter-active {
  transition: all .6s cubic-bezier(0.25, 0.1, 0, 1.87);
  transform-origin: center;
}

.scale-in-center-enter, .scale-in-center-leave-to {
  transform: scale(.6);
  opacity: 0;
}

/* // fade-in-linear */
.fade-in-linear-leave-active, .fade-in-linear-enter-active {
  transition: opacity .3s linear;
}

.fade-in-linear-enter, .fade-in-linear-leave-to {
  opacity: 0;
}