.lf-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  display: none;
  z-index: 1000;
}


.lf-modal-container.show {
  display: flex;
}
.lf-modal-container .modal-center{
  margin: auto;
}

.testfadein {
  animation: fadeIn 4s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}